#preview-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 350px;
    height: 350px;
    z-index: 2;
    pointer-events: none;
  }
  
  #preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
  
  #preview-image[src] {
    display: block;
  }
  