/* index.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Spinnaker', sans-serif;
    /*background-color: blue;*/
    background: repeating-conic-gradient(#ffffff 0 .00005%,#000000 0 .00017%) 0 0/5000px 10000px
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  